#profile {
    display: flex;
    flex-direction: column;
    background-color: #1c3044;
}
#profile h1, #profile p {
    color: white;
}

#refresh-button button {
    background-color: rgb(23, 113, 209);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 30px;
}

.image-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body{
    width: 100%;
    border: 1px solid #ccc;
    
}
.card-body a {
    text-decoration: none;
    color: #085fff;
    font-weight: bold;
    font-size: 1.4rem;
}
.date{
    font-size: 1.5rem;
    font-weight: bold;
}
.category{
    color: #717171;
    font-weight: 500;
}

@media (max-width: 768px) {
 .list-title{
   align-items: center;
 }
}