<!-- Your profile-->
<aside id="profile" class="col-lg-4 rounded-3">
  <div class="image-container mt-3">
    <img src="image/profile.jpg" alt="profile-image" />
  </div>
  <div class="">
    <div class="mb-4">
      <p>Hi, I'm</p>
      <h1 class="fw-bold">Thinh Nguyen</h1>
    </div>
    <div>
      <p class="mb-0">s4130401</p>
      <p>s4130401@rmit.edu.vn</p>
    </div>
  </div>
</aside>
