<h2 class="mt-4">Related Books</h2>

<div class="related-book-container row g-4">
  <% relatedBooks.forEach(function(book) { %>
  <div class="col-12 col-md-6 col-lg-4">
    <a href="/book/<%= book.title %>" class="text-decoration-none text-white">
      <div
        class="related-book-card d-flex flex-column justify-content-end p-3 rounded-3 shadow-sm"
        style="
          background-image:
            url('<%=book.image%>');
        "
      >
        <h5 class="fw-bold mb-1"><%=book.title%></h5>
        <p class="mb-0 small opacity-75">By <%=book.author%></p>
      </div>
    </a>
  </div>
  <% }); %>
</div>
